statustwitter:
  enabled: true
  consumer_key: YOUR_KEYS_HERE
  consumer_secret: YOUR_KEYS_HERE
  access_token: YOUR_KEYS_HERE
  access_token_secret: YOUR_KEYS_HERE

tumblr:
  enabled: true
  blog_name: YOUR_BLOG_NAME_HERE
  consumer_key: YOUR_KEYS_HERE
  consumer_secret: YOUR_KEYS_HERE
  access_token: YOUR_KEYS_HERE
  access_token_secret: YOUR_KEYS_HERE

twitter:
  consumer_key: YOUR_KEYS_HERE
  consumer_secret: YOUR_KEYS_HERE
  access_token: YOUR_KEYS_HERE
  access_token_secret: YOUR_KEYS_HERE
